= simple_form_for(@training) do |f|
  = f.error_notification

  .form-inputs
    = f.input :topic
    = f.input :my_feedback
    = f.input :adjudicator_feedback
    = f.input :team_mates
    = f.input :opponents
    = f.input :position
    = f.input :won
    = f.input :margin
    = f.input :score
    = f.input :matter
    = f.input :manner
    = f.input :method

  .form-actions
    = f.button :submit
