%h3 #{@form_title}
= simple_form_for(@user_goal) do |f|
  = f.error_notification
  .form-inputs
    = f.input :description,  input_html: { class: 'input-xxlarge' }

  = f.button :submit, value: @submit_title, class: 'btn btn-success'
  #{link_to 'Cancel', :back, class: 'btn btn-inverse' }
