%p#notice= notice

%p
  %b Topic:
  = @training.name
%p
  %b Description:
  = @training.description
%p
  %b My feedback:
  = @training.my_feedback
%p
  %b Adjudicator feedback:
  = @training.adjudicator_feedback

= link_to 'Edit', edit_activity_training_path(@training), class: 'btn btn-info'
= link_to 'Back', trainings_path, class: 'btn btn-inverse'
