%p#notice= notice

%p
  %b Topic:
  = @training.name
%p
  %b Description:
  = simple_format @training.description
%p
  %b Assignment answer:
  = @training.assignment_answer
%p
  %b Adjudicator feedback:
  = @training.adjudicator_feedback
%p
  %b My notes:
  = @training.my_feedback

%dl
  = render partial: 'trainings/goals', locals: {training: @training}

= link_to 'Edit', edit_activity_training_path(@training), class: 'btn btn-info'
= link_to 'Back', trainings_path, class: 'btn btn-inverse'
