%p#notice= notice

%p
  %b Topic:
  = @training.name
%p
  %b My feedback:
  = simple_format @training.my_feedback
%p
  %b Adjudicator feedback:
  = simple_format @training.adjudicator_feedback
%p
  %b Won:
  = @training.won
%p
  %b Score:
  = @training.score
%p
  %b Matter:
  = @training.matter
%p
  %b Manner:
  = @training.manner
%p
  %b Method:
  = @training.method
%dl
  = render partial: 'trainings/goals', locals: {training: @training}
= link_to 'Edit', edit_debate_training_path(@training), class: 'btn btn-info'
= link_to 'Back', trainings_path, class: 'btn btn-inverse'
