%p#notice= notice

%p
  %b Topic:
  = @training.name
%p
  %b My feedback:
  = @training.my_feedback
%p
  %b Adjudicator feedback:
  = @training.adjudicator_feedback
-# %p
-#   %b Team mates:
-#   = @training.team_mates
-# %p
-#   %b Opponents:
-#   = @training.opponents
-# %p
  %b Position:
  = @training.position
%p
  %b Won:
  = @training.won
%p
  %b Score:
  = @training.score
%p
  %b Matter:
  = @training.matter
%p
  %b Manner:
  = @training.manner
%p
  %b Method:
  = @training.method

= link_to 'Edit', edit_debate_training_path(@training), class: 'btn btn-info'
= link_to 'Back', trainings_path, class: 'btn btn-inverse'
